*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: blue;
}
.Mother{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 80px;
}
.nav a{
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    float: right;
}
.nav a:first-of-type{
    float: left;
}
.portfolio{
    height: auto;
    background-color: white;
}
.portfolio h1{
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}
.ImageContainer{
    background-color: blue;
    width: 800px;
    height: 1100px;
    margin-left: 250px;
    display: flex;
}
img{
    margin: 10px;
    width: 95%;
    height: 300px;
}
.child1{
    flex: 1;
    background-color: antiquewhite;

}
.first{
    height: 400px;
}
.last{
    height: 200px;
}
.child2{
    flex: 1;

    background-color: violet;
}
.child3{
    flex: 1;

    background-color: tomato;
}
button{
    display: none;
}
.contacts{
    background-color: black;
    height: auto;
}

form{
    width: 100%;
    height: 490px;
}
.firstName{
position: absolute;
    margin-left: 400px;
    height: 45px;
    width: 300px;
}
.firstName input{
    padding: 10px;
    font-size: 18px;
}

.secondName input{
    padding: 10px;
    font-size: 18px;
}

.emailBox input{
    padding: 10px;
    font-size: 18px;
}

.submit input{
    padding: 10px;
    font-size: 18px;
}
.secondName{
    width: 300px;
    margin-left: 800px;
    height: 45px;
margin-top: 50px;
}
.emailBox{
 height: 45px;
 width: 300px;
    margin-top: 60px;
    margin-left: 400px;
}
.Message{
    margin-top: 40px;
    margin-left: 400px;
    width: 500px;
}

.submit{
    width: 200px;
    height: 80px;
    margin-left: 600px;
    margin-top: 50px;
}
textarea{
    resize: none;
}

@media (max-width:400px){
    body{
        overflow-x: hidden;
    }
    .links{
        width: 65%;
        height: 100px;
        position: fixed;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
     a{
        display: none;
        color: white;
        


    }
    .links button{
        display: block;
        width: 50px;
        padding: 10px;
    }
    .show{
        height: 100%;

    }
    .linksA{
        width: 100%;
        height: 1005;
        background-color: red;
        
    }
    .portfolio{
        height: auto;
        word-wrap: break-word;
    }
    .portfolio h1{
        word-wrap: break-word;
        font-size: 30px;
        word-break: break-all;
    }
    .ImageContainer {
        margin-left: 0%;
        width: 100%;
        height: 200px;
        flex-direction: column;
    }
    .contacts{
        height: auto;
        margin-top: 3120px;
    }
    form{
        margin-top: 10px;
        background-color: gray;
    }
    .firstName{
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
    }
    .secondName{
        position: absolute;
        margin-top: 50px;
        margin-left: 0px;
    }
    .emailBox{
        position: absolute;
        margin-top: 100px;
        margin-left: 0%;
    }
    .Message{
        margin-left: 0;
        margin-top: 160px;
        position: absolute;
    }
    .submit{
        position: absolute;
        margin-top: 350px;
        margin-left: 0;
    }







}